# Ignore all subfolders in the root directory
*/

# Not ignore this sulfolders 
!src/
!dist/

# Ignore directories that should not be tracked by Git
vendor/
node_modules/

# Ignore filesthat should not be tracked by Git
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
